:root {
  --bg: #f5f0e8;
  --text: #1a1a1a;
  --accent: #3a86ff;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  color: var(--accent);
  font-size: 42px;
}

h2,
h4 {
  margin-top: 32px;
}

h3 {
  margin-top: 32px;
  color: var(--accent);
}

p {
  margin-bottom: 16px;
}

a {
  color: var(--accent);
}

.parts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Courier New', Courier, monospace;
  overflow-y: scroll;
  background-image: url(url../../../Downloads/thumbbig-755323.webp);
}

.parts.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 300px;

}