:root {
  --bg: #f5f0e8;
  --text: #1a1a1a;
  --accent: #a826e4;
}

body {
  background: linear-gradient(180deg, #ffffff 5%, #3e0a79b0 100%);
  color: var(--text);
  font-family: "Sekuya", sans-sherif;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  background: linear-gradient(180deg, #3e0a79b0 10%, #ffffffb0 95%);
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  color: var(--accent);
  font-size: 42px;
}

h2,
h4 {
  margin-top: 32px;
}

h3 {
  margin-top: 32px;
  color: var(--accent);
}

p {
  margin-bottom: 16px;
  text-transform: none;
  font-family: "DM Serif Display", serif;
}

a {
  color: var(--accent);
}

.parts-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  max-width: 800px;
  padding: 0 20px;
}

.parts.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  height: auto;

}

.games {
  padding-right: 20px;
  border: 2px solid rgba(255, 160, 122, 1);
  margin-bottom: 20px;

  & a:hover {
    color: #190d79b0;
  }
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

footer {
  padding: 20px;
  background: #959297b0;
}

* {
  scroll-behavior: smooth;
}

.menu-icon {
  width: 50px;
  height: 50px;
}